<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211826518707-8knh5jet5p90l2k505mh28mhoth8gcvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211826518707-8knh5jet5p90l2k505mh28mhoth8gcvo</string>
	<key>API_KEY</key>
	<string>AIzaSyA9SDEFv2nLTpeedGi7wWjhcf3Cq57CBLY</string>
	<key>GCM_SENDER_ID</key>
	<string>211826518707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.renandashtcc</string>
	<key>PROJECT_ID</key>
	<string>wide-office-315415</string>
	<key>STORAGE_BUCKET</key>
	<string>wide-office-315415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211826518707:ios:45f0a5251e011d701e9ec6</string>
</dict>
</plist>